.navbar {
  /* background-color: red !important; */
  height: auto !important;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signBtn{
  display: none;
}

.container-fluid {
  /* background-color: grey !important; */
}

.navbar-brand {
  font-size: 2.1rem;
  margin-right: 2rem;
  color: black;
  font-weight: bold;
  border-right: 1px solid black;
  padding-right: 1rem;
  height: 10vh !important;
}

.nav-item {
  /* background-color: green !important; */
  margin-top: 1rem;
}

.nav-link {
  /* background-color: blue !important; */
  font-size: 1rem;
  height: 10vh !important;
  width: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-right: 1px solid black;
  padding-right: 2rem;
  font-weight: bold;
}

.nav-bar {
  border: none;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    border: none;
  }

  .nav-link {
    width: auto;
    border: none;
    margin-left: 0;
    margin-right: 0;
    height: 5vh !important;
  }
  .signBtn{
    display: block;
  }
  .sign-up{
    display: none;
  }
}
